html,
body {
	margin: 0;
	padding: 0;

	color: var(--color-dark);
	background-color: var(--color-white-300);

	font-family: var(--ff-noto-sans), sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

:root {
	/* font-weight */
	--fw-lighter: 100;
	--fw-light: 300;
	--fw-regular: 400;
	--fw-medium: 500;
	--fw-bold: 700;

	/* font-size */
	--fs-xxs: 12px;
	--fs-xs: 14px;
	--fs-s: 16px;
	--fs-m: 18px;
	--fs-l: 20px;
	--fs-xxl: 22px;
	--fs-xxxl: 36px;

	/* base-size */
	--base: 4px;

	/* base-transition */
	--transition: 0.2;

	/* font-family */
	--ff-noto-sans: "Noto Sans";

	/* colors */
	--color-dark: #3B434E;
	--color-primary: #7653FC;
	--color-primary-hover: #582FFB;
	--color-dangerous: #DE0000;
	--color-gold: #DCB44E;

	/* white */

	--color-white: #FFF;
	--color-white-300: #F5F6F8;
	--color-white-400: #F9F8FF;
	--color-white-500: #EBEBEB;
	--color-white-600: #E2E2E2;

	/* green */
	--color-green-50: #C8F8E4;
	--color-green-300: #1CC37E;

	/* gray */
	--color-gray-200: #DFDFDF;
	--color-gray-300: #D2D2D2;
	--color-gray-400: #C4C4C4;
	--color-gray-500: #BBB;
	--color-gray-600: #A4A4A4;
	--color-gray-700: #787D85;

	/* blue */
	--color-blue-100: #B3C0D9;

	/* orange */
	--color-orange-500: #FC836D;

	/* black */
	--color-black: #000;
}
